
/*#-----   CUSTOM CSS   ------ */


/*#  Goods Component  */

.para {
  text-align: center;
  margin-bottom: 40px;
}

.info {                   
  text-align: center;
  margin-top: 10px;
  height: 45px;
  width: auto;
  color: maroon;
  font-weight: bold
}

