/*#-----   CUSTOM CSS   ------ */

/*#  Footer Component  */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}
.footer h4 {
  font-weight: bold;
  color: rgb(161, 197, 245);
}
.footer li {
  color: rgb(228, 206, 177);
}

.footer li a {
  color: rgb(228, 206, 177);
  text-decoration: none;
}

.footer li a:hover {
  font-size: 105%;
}

.footer p {
  color: rgb(218, 243, 209);
}
